##################################
# ADS CONFIGURATION
##################################
ads_custom:
  device: "192.168.1.55.1.1"
  port: 801

##################################
# ADS SENSORS
# NOTE: Light brightness/state sensors REMOVED - now handled by native ADS lights below
##################################
sensor:
  - platform: ads_custom
    name: "Windgeschwindigkeit"
    adsvar: ".ParameterWetterstation.Windgschwindigkeit"
    adstype: "real"
    unique_id: "07b9c1d2-4e56-4f89-e0fb-7b1c5d6e8901"
    state_class: "measurement"

  - platform: ads_custom
    name: "Rolladen Terassentür Position"
    adsvar: ".EGKuecheJalousie1.ActualPosition"
    adstype: "uint"
    unique_id: "18c2d3e4-5f67-4fa0-f1ac-8c2d6e7f9012"
    state_class: "measurement"

  - platform: ads_custom
    name: "Rolladen Aaron Position"
    adsvar: ".OGAaronJalousie1.ActualPosition"
    adstype: "uint"
    unique_id: "29d3e4f5-6a78-4gb1-02bd-9d3e7f8g0123"
    state_class: "measurement"

  - platform: ads_custom
    name: "Lufttemperatur"
    adsvar: ".ParameterWetterstation.LuftTemperatur"
    adstype: "real"
    unique_id: "3ae4f5g6-7b89-4hc2-13ce-0ae4f9g1234"
    state_class: "measurement"

  - platform: ads_custom
    name: "Niederschlagsstatus"
    adsvar: ".ParameterWetterstation.Niederschlagstatus"
    adstype: "real"
    unique_id: "4bf5g6h7-8c90-4id3-24df-1bf5g0h2345"
    state_class: "measurement"

  - platform: ads_custom
    name: "EGTerasseBeschattungBahn1_ActualPosition"
    adsvar: ".EGTerasseBeschattungBahn1.ActualPosition"
    adstype: "uint"
    state_class: "measurement"
    unique_id: "5cg6h7i8-9d01-4je4-35eg-2cg6h1i3456"

  - platform: ads_custom
    name: "OG Aaron Temperatur"
    adsvar: ".ParameterRoom[11].ActualTemperatur"
    adstype: "real"
    device_class: "temperature"
    unique_id: "6dh7i8j9-0e12-4kf5-46fh-3dh7i2j4567"
    state_class: "measurement"

##################################
# ADS BINARY SENSORS
# NOTE: Light state binary sensors REMOVED - now handled by native ADS lights below
##################################
# No binary sensors needed in this configuration

##################################
# ADS SWITCHES
# NOTE: Light control switches REMOVED - now handled by native ADS lights below
# Only keeping switches for non-light functions
##################################
switch:
  - platform: ads_custom
    name: "Freigabe System Aaron"
    adsvar: ".bFreigabeSystemAaron"
    unique_id: "lsv2x3y4-5t67-4zu0-91uw-8lsv7y9012"

  - platform: ads_custom
    name: "Rolladen Terassentür hoch"
    adsvar: ".EGKuecheJalousie1.BlindManUp"
    unique_id: "3bb01c5a-f242-4194-bf53-8970f43e4f0f"

  - platform: ads_custom
    name: "Rolladen Terassentür runter"
    adsvar: ".EGKuecheJalousie1.BlindManDown"
    unique_id: "e9750d53-b84d-46bd-a4d1-40de8ba54ff7"

##################################
# NATIVE ADS DIMMABLE LIGHTS
# These replace the template lights!
# No need for separate switches, binary sensors, or templates anymore.
##################################
light:
  - platform: ads_custom
    name: "EG Terasse Licht 1"
    adsvar: ".EGTerrasseLicht1.EIN"
    unique_id: "mtw3y4z5-6u78-4a01-02vx-9mtw8z0123"

  - platform: ads_custom
    name: "EG WC Licht 1"
    adsvar: ".EGWcLicht1.EIN"
    unique_id: "nux4z5a6-7v89-4b12-13wy-0nux9a1234"

  # Dimmable lights with BYTE brightness (0-100 range)
  - platform: ads_custom
    name: "Vorne"
    adsvar: ".EGWohnzimmerLicht1.EIN"
    adsvar_brightness: ".EGWohnzimmerLicht1.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "7a1c9148-c2e9-492b-8321-3b6bab24d928"

  - platform: ads_custom
    name: "hinten"
    adsvar: ".EGWohnzimmerLicht2.EIN"
    adsvar_brightness: ".EGWohnzimmerLicht2.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "aa30a3b0-61e3-4587-a1b2-95f6dea6a06b"

  - platform: ads_custom
    name: "Vitrine"
    adsvar: ".EGWohnzimmerLicht3.EIN"
    adsvar_brightness: ".EGWohnzimmerLicht3.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "e9cf7fc4-ae0a-491a-b903-1fb6d27d2144"

  - platform: ads_custom
    name: "Sternenhimmel"
    adsvar: ".OGBadLicht2.EIN"
    adsvar_brightness: ".OGBadLicht2.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "18fa38ac-cd70-435e-b1c6-7ce240df03f0"

  - platform: ads_custom
    name: "Decke"
    adsvar: ".OGBadLicht1.EIN"
    adsvar_brightness: ".OGBadLicht1.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "4bb974cb-9321-446c-b08f-4bade0dead21"

  - platform: ads_custom
    name: "Deckenlicht Aaron"
    adsvar: ".OGAaronLicht1.EIN"
    adsvar_brightness: ".OGAaronLicht1.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "656d5a9f-ab47-425f-8b26-6e3baf934848"

##################################
# TEMPLATE BLOCK (SIMPLIFIED)
# Only keep templates that add value (conversions, etc.)
##################################
template:
  ##################################
  # TEMPLATE SENSORS
  ##################################
  - sensor:
      - name: "Windgeschwindigkeit (template)"
        unique_id: "wind_template_001"
        unit_of_measurement: "m/s"
        device_class: wind_speed
        state_class: measurement
        state: "{{ states('sensor.windgeschwindigkeit') | float | round(2) }}"

      - name: "Lufttemperatur (template)"
        unique_id: "temp_template_001"
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: "{{ states('sensor.lufttemperatur') | float | round(2) }}"

  ##################################
  # TEMPLATE BINARY SENSORS
  ##################################
  - binary_sensor:
      - name: "Niederschlag"
        unique_id: "niederschlag_binary_001"
        device_class: moisture
        state: "{{ states('sensor.niederschlagsstatus') | int > 0 }}"

  ##################################
  # TEMPLATE COVER
  ##################################
  - cover:
      - name: Rollladen Terassentür
        unique_id: "d784df80-e4e0-4371-b66e-a70be846b079"
        state: |
          {{ states("sensor.rolladen_terassentur_position")|int<50 }}
        device_class: blind
        position: |
          {{100- states("sensor.rolladen_terassentur_position")|int}}
        open_cover:
          - action: switch.turn_on
            target:
              entity_id: switch.rolladen_terassentur_hoch
          - action: switch.turn_off
            target:
              entity_id: switch.rolladen_terassentur_runter
        close_cover:
          - action: switch.turn_off
            target:
              entity_id: switch.rolladen_terassentur_hoch
          - action: switch.turn_on
            target:
              entity_id: switch.rolladen_terassentur_runter
