##################################
# ADS KONFIGURATION
##################################
ads_custom:
  device: "192.168.1.55.1.1"
  port: 801

##################################
# ADS SENSOREN
##################################
sensor:
  - platform: ads_custom
    name: "EGWohnzimmerLicht1_Brightness"
    adsvar: ".EGWohnzimmerLicht1.Wert"
    adstype: "byte"
    unique_id: "a3b1f7e0-7f87-4c32-8e1b-1a2c4b9d1234"
    state_class: "measurement"

  - platform: ads_custom
    name: "EGWohnzimmerLicht2_Brightness"
    adsvar: ".EGWohnzimmerLicht2.Wert"
    adstype: "byte"
    unique_id: "b7c3d2f1-8e67-4d12-bf3d-2b6a5c9e5678"
    state_class: "measurement"

  - platform: ads_custom
    name: "EGWohnzimmerLicht3_Brightness"
    adsvar: ".EGWohnzimmerLicht3.Wert"
    adstype: "byte"
    unique_id: "c2d5e4f3-9a87-4f45-a5b3-3c7d1b2e8910"
    state_class: "measurement"

  - platform: ads_custom
    name: "OGBadLicht1_Brightness"
    adsvar: ".OGBadLicht1.Wert"
    adstype: "byte"
    unique_id: "d4e6f7a8-1b23-4c56-b7c8-4e8f2a3b4567"
    state_class: "measurement"

  - platform: ads_custom
    name: "OGBadLicht2_Brightness"
    adsvar: ".OGBadLicht2.Wert"
    adstype: "byte"
    unique_id: "e5f7a8b9-2c34-4d67-c8d9-5f9a3b4c6789"
    state_class: "measurement"

  - platform: ads_custom
    name: "OGAaronLicht1_Brightness"
    adsvar: ".OGAaronLicht1.Wert"
    adstype: "byte"
    unique_id: "f6a8b9c0-3d45-4e78-d9ea-6a0b4c5d7890"
    state_class: "measurement"

  - platform: ads_custom
    name: "Windgeschwindigkeit"
    adsvar: ".ParameterWetterstation.Windgschwindigkeit"
    adstype: "real"
    unique_id: "07b9c1d2-4e56-4f89-e0fb-7b1c5d6e8901"
    state_class: "measurement"

  - platform: ads_custom
    name: "Rolladen Terassentür Position"
    adsvar: ".EGKuecheJalousie1.ActualPosition"
    adstype: "uint"
    unique_id: "18c2d3e4-5f67-4fa0-f1ac-8c2d6e7f9012"
    state_class: "measurement"

  - platform: ads_custom
    name: "Rolladen Aaron Position"
    adsvar: ".OGAaronJalousie1.ActualPosition"
    adstype: "uint"
    unique_id: "29d3e4f5-6a78-4gb1-02bd-9d3e7f8g0123"
    state_class: "measurement"

  - platform: ads_custom
    name: "Lufttemperatur"
    adsvar: ".ParameterWetterstation.LuftTemperatur"
    adstype: "real"
    unique_id: "3ae4f5g6-7b89-4hc2-13ce-0ae4f9g1234"
    state_class: "measurement"

  - platform: ads_custom
    name: "Niederschlagsstatus"
    adsvar: ".ParameterWetterstation.Niederschlagstatus"
    adstype: "real"
    unique_id: "4bf5g6h7-8c90-4id3-24df-1bf5g0h2345"
    state_class: "measurement"

  - platform: ads_custom
    name: "EGTerasseBeschattungBahn1_ActualPosition"
    adsvar: ".EGTerasseBeschattungBahn1.ActualPosition"
    adstype: "uint"
    state_class: "measurement"
    unique_id: "5cg6h7i8-9d01-4je4-35eg-2cg6h1i3456"

  - platform: ads_custom
    name: "OG Aaron Temperatur"
    adsvar: ".ParameterRoom[11].ActualTemperatur"
    adstype: "real"
    device_class: "temperature"
    unique_id: "6dh7i8j9-0e12-4kf5-46fh-3dh7i2j4567"
    state_class: "measurement"

##################################
# ADS BINARY SENSORS (REAL PLC STATE)
##################################
binary_sensor:
  - platform: ads_custom
    name: "EGWohnzimmerLicht1_State"
    adsvar: ".EGWohnzimmerLicht1.EIN"
    device_class: light
    unique_id: "7ei8j9k0-1f23-4lg6-57gi-4ei8j3k5678"

  - platform: ads_custom
    name: "EGWohnzimmerLicht2_State"
    adsvar: ".EGWohnzimmerLicht2.EIN"
    device_class: light
    unique_id: "8fj9k0l1-2g34-4mh7-68hj-5fj9k4l6789"

  - platform: ads_custom
    name: "EGWohnzimmerLicht3_State"
    adsvar: ".EGWohnzimmerLicht3.EIN"
    device_class: light
    unique_id: "9gk0l1m2-3h45-4ni8-79ik-6gk0l5m7890"

  - platform: ads_custom
    name: "OGBadLicht1_State"
    adsvar: ".OGBadLicht1.EIN"
    device_class: light
    unique_id: "ahl1m2n3-4i56-4oj9-80jl-7ahl6n8901"

  - platform: ads_custom
    name: "OGBadLicht2_State"
    adsvar: ".OGBadLicht2.EIN"
    device_class: light
    unique_id: "bil2n3o4-5j67-4pk0-91km-8bil7o9012"

  - platform: ads_custom
    name: "OGAaronLicht1_State"
    adsvar: ".OGAaronLicht1.EIN"
    device_class: light
    unique_id: "cjm3o4p5-6k78-4ql1-02ln-9cjm8p0123"

##################################
# ADS SWITCHES (CONTROL ONLY)
##################################
switch:
  - platform: ads_custom
    name: "EGWohnzimmerLicht1_Switch"
    adsvar: ".EGWohnzimmerLicht1.EIN"
    unique_id: "fmp6r7s8-9n01-4to4-35oq-2fmp1s3456"

  - platform: ads_custom
    name: "EGWohnzimmerLicht2_Switch"
    adsvar: ".EGWohnzimmerLicht2.EIN"
    unique_id: "gnq7s8t9-0o12-4up5-46pr-3gnq2t4567"

  - platform: ads_custom
    name: "EGWohnzimmerLicht3_Switch"
    adsvar: ".EGWohnzimmerLicht3.EIN"
    unique_id: "hor8t9u0-1p23-4vq6-57qs-4hor3u5678"

  - platform: ads_custom
    name: "OGBadLicht1_Switch"
    adsvar: ".OGBadLicht1.EIN"
    unique_id: "ips9u0v1-2q34-4wr7-68rt-5ips4v6789"

  - platform: ads_custom
    name: "OGBadLicht2_Switch"
    adsvar: ".OGBadLicht2.EIN"
    unique_id: "jqt0v1w2-3r45-4xs8-79su-6jqt5w7890"

  - platform: ads_custom
    name: "OGAaronLicht1_Switch"
    adsvar: ".OGAaronLicht1.EIN"
    unique_id: "kru1w2x3-4s56-4yt9-80tv-7kru6x8901"

  - platform: ads_custom
    name: "Freigabe System Aaron"
    adsvar: ".bFreigabeSystemAaron"
    unique_id: "lsv2x3y4-5t67-4zu0-91uw-8lsv7y9012"

  - platform: ads_custom
    name: "Rolladen Terassentür hoch"
    adsvar: ".EGKuecheJalousie1.BlindManUp"
    unique_id: "3bb01c5a-f242-4194-bf53-8970f43e4f0f"

  - platform: ads_custom
    name: "Rolladen Terassentür runter"
    adsvar: ".EGKuecheJalousie1.BlindManDown"
    unique_id: "e9750d53-b84d-46bd-a4d1-40de8ba54ff7"

##################################
# NATIVE ADS DIMMABLE LIGHTS
# These replace the template lights!
# No need for separate switches, binary sensors, or templates anymore.
##################################
light:
  - platform: ads_custom
    name: "EG Terasse Licht 1"
    adsvar: ".EGTerrasseLicht1.EIN"
    unique_id: "mtw3y4z5-6u78-4a01-02vx-9mtw8z0123"

  - platform: ads_custom
    name: "EG WC Licht 1"
    adsvar: ".EGWcLicht1.EIN"
    unique_id: "nux4z5a6-7v89-4b12-13wy-0nux9a1234"

  # Dimmable lights with BYTE brightness (0-100 range)
  - platform: ads_custom
    name: "Vorne"
    adsvar: ".EGWohnzimmerLicht1.EIN"
    adsvar_brightness: ".EGWohnzimmerLicht1.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "7a1c9148-c2e9-492b-8321-3b6bab24d928"

  - platform: ads_custom
    name: "hinten"
    adsvar: ".EGWohnzimmerLicht2.EIN"
    adsvar_brightness: ".EGWohnzimmerLicht2.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "aa30a3b0-61e3-4587-a1b2-95f6dea6a06b"

  - platform: ads_custom
    name: "Vitrine"
    adsvar: ".EGWohnzimmerLicht3.EIN"
    adsvar_brightness: ".EGWohnzimmerLicht3.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "e9cf7fc4-ae0a-491a-b903-1fb6d27d2144"

  - platform: ads_custom
    name: "Sternenhimmel"
    adsvar: ".OGBadLicht2.EIN"
    adsvar_brightness: ".OGBadLicht2.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "18fa38ac-cd70-435e-b1c6-7ce240df03f0"

  - platform: ads_custom
    name: "Decke"
    adsvar: ".OGBadLicht1.EIN"
    adsvar_brightness: ".OGBadLicht1.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "4bb974cb-9321-446c-b08f-4bade0dead21"

  - platform: ads_custom
    name: "Deckenlicht Aaron"
    adsvar: ".OGAaronLicht1.EIN"
    adsvar_brightness: ".OGAaronLicht1.Wert"
    adsvar_brightness_scale: 100
    adsvar_brightness_type: byte
    unique_id: "656d5a9f-ab47-425f-8b26-6e3baf934848"

##################################
# TEMPLATE BLOCK (SIMPLIFIED)
# Only keep templates that add value (conversions, etc.)
##################################
template:
  ##################################
  # TEMPLATE SENSORS
  ##################################
  - sensor:
      - name: "Windgeschwindigkeit (template)"
        unique_id: "wind_template_001"
        unit_of_measurement: "m/s"
        device_class: wind_speed
        state_class: measurement
        state: "{{ states('sensor.windgeschwindigkeit') | float | round(2) }}"

      - name: "Lufttemperatur (template)"
        unique_id: "temp_template_001"
        unit_of_measurement: "°C"
        device_class: temperature
        state_class: measurement
        state: "{{ states('sensor.lufttemperatur') | float | round(2) }}"

  ##################################
  # TEMPLATE BINARY SENSORS
  ##################################
  - binary_sensor:
      - name: "Niederschlag"
        unique_id: "niederschlag_binary_001"
        device_class: moisture
        state: "{{ states('sensor.niederschlagsstatus') | int > 0 }}"

  ##################################
  # TEMPLATE COVER
  ##################################
  - cover:
      - name: Rollladen Terassentür
        unique_id: "d784df80-e4e0-4371-b66e-a70be846b079"
        state: |
          {{ states("sensor.rolladen_terassentur_position")|int<50 }}
        device_class: blind
        position: |
          {{100- states("sensor.rolladen_terassentur_position")|int}}
        open_cover:
          - action: switch.turn_on
            target:
              entity_id: switch.rolladen_terassentur_hoch
          - action: switch.turn_off
            target:
              entity_id: switch.rolladen_terassentur_runter
        close_cover:
          - action: switch.turn_off
            target:
              entity_id: switch.rolladen_terassentur_hoch
          - action: switch.turn_on
            target:
              entity_id: switch.rolladen_terassentur_runter
